/* NOTE: Contact Page Css File */

/* NOTE: General */
.fade-in {
	-webkit-animation: fadeIn 750ms;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

/* NOTE: Form Section */
.form-container {
  width: 95%;
  margin: 45px auto;
  background-color: #202020;
  border: 2px groove red;
  border-radius: 15px;
  color: white;
  box-shadow: 0px 5px 10px #888888;
  background-image: url("../img/diana.png");
  background-repeat: no-repeat;
  background-position: -50px;
  background-size: contain;
}

.contact-heading {
  text-align: center;
  font-family: 'Archivo Black';
  padding: 15px 0 0 0;
  font-size: 4em;
  text-shadow: 1px 1px 2px red;
}

form {
  max-width: 800px;
  margin: 0 auto;
  padding: 45px 0 45px 0;
}

textarea {
  height: 10em;
}

input {
  font-size: 1.4em;
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial;
  transition: 300ms;
}

input:focus, textarea:focus {
  outline: none;
  border-color: red;
  box-shadow: 0px 1px 8px red;
}

.submit-wrapper {
  text-align: left;
}

#submit-button {
  background-color: red;
  color: white;
  border-color: black;
  border-bottom: 6px solid black;
  border-radius: 10px;
  font-size: 1.1em;
  font-family: 'Archivo Black';
  font-weight: normal;
  width: 33%;
}

#submit-button:hover {
  background-color: #c80000;
}

#submit-button:active {
  transform: translateY(6px);
}

#submit-button:focus {
  box-shadow: none;
  border-color: black;
}


.contact-info label {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.contact-info label:nth-child(1) {
  padding-right: 10px;
}

.contact-info label:nth-child(2) {
  padding-left: 10px;
}


label {
  display: block;
  margin-bottom: 20px;
  font-weight: normal;
}

span {
  display: block;
  padding-bottom: 10px;
}