/* Main Css File */

/* General */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: Helvetica;
}

.title /* h1 */ {
  font-family: 'Lobster', cursive;
}

a:hover {
  color: red;
  text-decoration: none;
}

/* Header & Navigation */
.main-header {
  width: 100%;
  background-color: #202020;
  border-bottom: 2px groove red;
}

.main-header::after {
  content: "";
  clear: both;
  display: block;
}

.header-container {
  width: 90%;
  margin: 0 auto;
}

.logo {
  color: white;
  float: left;
  font-size: 2em;
  line-height: 60px;
  font-family: 'Lobster', cursive;
  text-decoration: none;
}

.main-nav {
  float: right;
}

.main-nav ul li {
  display: inline-block;
}

.main-nav ul li a {
  padding: 0 20px;
  color: white;
  line-height: 60px;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
}

.main-nav li:hover a {
  color: red;
  text-decoration: none;
}

/* Splash & Main Heading */
.main-heading {
  background-image: url('../img/splash.jpg');
  background-size: cover;
  background-position: center;
  height: 75vh;
  border-bottom: 3px groove red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 5px 10px #888888;
}

.main-heading h1 {
  color: white;
  text-shadow: 2px 2px 3px red;
  font-size: 7em;
  font-family: 'Lobster', cursive;
}

.main-heading p {
  color: white;
  font-size: 2em;
  padding: 15px 0 35px 0;
  font-family: 'Lobster', cursive;
}

.main-heading a {
  color: white;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 1px 1px 10px #f3f3f3;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 1.2em;
}

.main-heading a:hover {
  color: red;
}

/* Main Content */
.main-content {
  width: 95%;
  margin: 45px auto;
  padding: 35px 15px;
  background-color: #202020;
  border: 2px groove red;
  border-radius: 15px;
  text-align: center;
  color: white;
  box-shadow: 0px 5px 10px #888888;
}

.mc-column1, .mc-column2, .mc-column3 {
  display: inline-block;
  width: 30%;
  padding: 0 15px;
}

.icon1, .icon2, .icon3 {
  padding-bottom: 25px;
}

.main-content h1 {
  padding-bottom: 15px;
  color: white;
  text-shadow: 1px 1px 2px red;
}

/* Secondary Content */
.secondary-content {
  width: 95%;
  height: 250px;
  margin: 45px auto;
  padding: 15px;
  background-color: #202020;
  border: 2px groove red;
  border-radius: 15px;
  color: white;
  background-image: url("../img/zed.png");
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: 0px 5px 10px #888888;
}

.sc-column1 {
  float: left;
  display: inline-block;
  width: 200px;
}

.sc-column2 {
  float: left;
  display: inline-block;
  width: 200px;
}

.sc-column3 {
  float: left;
  display: inline-block;
  width: 200px;
}

.secondary-content h1 {
  margin: 15px;
  text-shadow: 1px 1px 2px red;
}

.secondary-content ul {
  padding-left: 50px;
}

.secondary-content li {
  padding-top: 5px;
}

/* Footer */
.main-footer {
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: #202020;
  border-top: 2px groove red;
}

.main-footer p {
  color: white;
  margin: 10px;
  font-style: italic;
}

/* Forum styles */

.forum-group {
    background-color:#e0e0e0;
    border-style: hidden;
    border-radius: 10px;
    color:black;
    font-size:18px;
    margin: 10px 0px 10px 0px;
}

.forum-group .group-head {
    width:100%;
    border-radius: 10px;
    box-shadow: 0px 4px 1px white;
    background-color:red;
    color:white;
    font-size:32px;
    padding: 10px 0px 10px 25px;
}

.forum-group .group-item {
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-radius: 0;
    padding-left: 25px;
}

a.group-item-title {
    width:100%;
    font-size:24px;
}

.forum-group .group-item.last-item {
    border-radius:10px;
    border-bottom-style: hidden;
    padding-bottom: 5px;
}

.forum-group a {
    color:red;
    font-weight: 600;
    transition: 250ms;
}

.forum-group a:hover {
    transition: 250ms;
    font-size: 28px;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
}

/*            */

.recent-posts {
    width:100%;
    padding:20px;
    border-style:groove;
    border-radius: 5px;
    border-width: 2px;
    height:400px;
    overflow: hidden;
}

.recent-posts .scroll-container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
    padding:10px;
    border-style: solid;
}


.important {
    font-size: 24px;
    color:red;
    font-weight: 700px;
}

.recent-posts .post {
    display:block;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
}

.recent-posts .post a{
    text-decoration: none;
    color:red;
}

.recent-posts .post a:hover{
    text-decoration: none;
    color:black;
}

.recent-posts .post .title {
    font-size:20px;
}


/* Holy shit this part took so long because I forgot the "px" at the end of max-width:1250px */

@media screen and (min-width:1251px) {
    .recent-posts .scroll-container {
        height: 300px;
    }
}

@media screen and (max-width:1250px) {
    .recent-posts .scroll-container {
        height:260px;
    }
}

.main-footer a {
  color: red;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
}
